.outer-square {
    background-color: white;

    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* gap: 10px; */
}

.inner-square {
    margin: 10px;

    background-color: green;
}

.inner-circle {
    margin: 10px;

    border-radius: 50%;
    background-color: blue;
}

/* .square1 {
    grid-row: 1;
    grid-column: 1;
}
.circle1 {
    grid-row: 1;
    grid-column: 2;
} */

/* .square2 {
    grid-row: 1;
    grid-column: 3;
}
.circle2 {
    grid-row: 2;
    grid-column: 1;
} */

/* .square3 {
    grid-row: 2;
    grid-column: 2;
}
.circle3 {
    grid-row: 2;
    grid-column: 3;
} */

/* .square4 {
    grid-row: 3;
    grid-column: 1;
}
.circle4 {
    grid-row: 3;
    grid-column: 2;
} */

/* .square5 {
    grid-row: 3;
    grid-column: 3;
} */
